/* Reset de propriedades padrão */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Váriáveis globais */
    --cor1: #ffffff;
    --cor2: #002a79;
    --cor3: #011b4b;
    --fontesTexto: 'Lato', 'Arial', sans-serif;
}

body {
    background-image: url(black-texture.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

img {
    width: 200px;
    border-radius: 100%;
}

main {
    display: flex;
    background-color: var(--cor1);
    flex-direction: column;
    width: 350px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

h1 {
    font-size: 40px;
    color: var(--cor2);
    margin: 20px;
    font-family: var(--fontesTexto);
}

p {
    text-align: center;
    font-size: 18px;
    font-family: var(--fontesTexto);
}

a {
    text-decoration: none;
    background-color: var(--cor2);
    color: var(--cor1);
    padding: 20px;
    margin: 10px;
    border-radius: 40px;
    width: 90%;
    text-align: center;
    font-size: 20px;
    font-family: var(--fontesTexto);
}

a:hover {
    background-color: var(--cor3);
}